 body {
  /*background-repeat: no-repeat;*/
  background-image: url(../images/back.png);
  background-size: contain;
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#carte{
  width: 100%;
}
 
